

button {
  margin: 2px 4px;
}

button:hover {
  background-color: rgb(219, 255, 220);
  box-shadow: 0 0 4px 4px rgb(45, 224, 51);
}

p {
  margin: 0px 6px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.vizbox {
  background-color: rgb(86, 77, 77);
  width: 50%
  
}

.App-body {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-block {
  background-color: #2b3c5d;
  /* min-height: 42vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-card {
  background-color: #1f344b;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1.2vh;
  margin: 1.2vh;
  border-radius: 2px;
}

.App-link {
  color: #61dafb;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l-bar {
    width: 60%;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: black;
  color:#61dafb

}

.footer {
  background-color: black;
  color:#61dafb
}

.left {
  justify-content: flex-start;
}

/* .hidden-function {
  display: none;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
